
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @if (!@ViewBag.usuario.EsAdmin) //Con esto controlamos si es admin o no
    { <h1 class="display-4">Admin</h1>
    }
    else
    {
        <h1 class="display-4">Usuario</h1>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
