html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/img/fondo2.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza la página */
}

nav {
    background-color: #f64056;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    width: 100%;
    position: relative;
    clear: both;
   
}

.text-enorme {
    font-size: 3em; /* Aumentar el tamaño de la fuente en un 50% */
}

.icono-enorme {
    font-size: 1em; /* Aumentar el tamaño del icono en un 100% */
}

