 @{
     var usuarioActual =  Context.Session.GetInt32("idUsuarioActual");
  }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cine_Flagg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cines_Flagg.styles.css" asp-append-version="true" />

    <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!--Icono de la pesataña-->
        <link rel="shortcut icon" href="/img/icf.png"> 
    </head>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm text-light navbar-light border-bottom box-shadow mb-3" style="padding-left: 200px; padding-right: 200px;">
            <div class="container-fluid">
                
                <a class="navbar-brand m-0" style="padding-right: 50px;" asp-area="" asp-controller="Cartelera" asp-action="Index"><img width="100px" typeof="image/png" src="/img/icflagg.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 align-items-center">          
                        
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="dropdown-toggle nav-link text-light fs-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ABM´s
                                </a>    
                                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">ABM Usuarios</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Peliculas" asp-action="Index">ABM Peliculas</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Salas" asp-action="Index">ABM Salas</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Funcions" asp-action="Index">ABM Funciones</a>
                                </div>
                            </div>
                        </li>        
                        

                        <li class="nav-item btn btn-warning p-0 ml-1">
                            <a class="nav-link text-dark fs-5 fw-bold"  asp-area="" asp-controller="Cartelera" asp-action="Index">Ver Cartelera</a>
                        </li>
                        @if (usuarioActual == null) { 
                            <li class="nav-item border-light btn btn-primary ml-auto p-0 m-2">
                            <a class="nav-link text-light fs-4" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                            <li class="nav-item border-light btn btn-primary p-0 m-2">
                            <a class="nav-link text-light fs-4" asp-area="" asp-controller="Register" asp-action="Index">Registro</a>
                            </li>
                        }else
                        {
                            <li class="nav-item ml-auto">
                                <a class="text-light fs-4" asp-controller="MiUsuario" asp-action="Index"><img width="50px" height="50px" src="/img/usuario.png"/>MIS DATOS</a>
                            </li>
                            <li class="nav-item text-light fs-4 ml-2">
                                @Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Cartelera", null, new { @class = "btn btn-warning"})
                            </li>
                        }                           
                    </ul>
                </div>
            </div>
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top mt-2 text-muted bg-black">
        <div class="container text-light text-center">
            &copy; Copyright 2023 - Cines FLAGG - Derechos Reservados <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
