@model Cines_Flagg.Models.Pelicula
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .pelicula-poster{
            width: 200px;
            height: 300px;
        }
    </style>


    <title>Cartelera</title>
</head>
<body>
    <div class="container">
        <h2>Cartelera de Flagg</h2>

       <!-- foreach ()
        {
            <div class="col-md-3">
                <img src="pelicula.poster" alt="pelicula.nombre" class="img-fluid pelicula-poster" />
                <p>pelicula.nombre</p>
            </div>
        }-->
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

