@model Cines_Flagg.Models.Usuario
@{
    ViewData["Title"] = "Index";
}

<!-- Agregar referencias a los archivos de sonido -->
<audio id="creditSound" src="~/sounds/Credito.mp3"></audio>
<!-- Script para reproducir el sonido -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js"></script>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playLoginSound = JSON.parse('@Html.Raw(Json.Serialize(TempData["PlayCreditSound"] ?? false))');
        if (playLoginSound) {
            playSound('creditSound');
        }
    });
</script>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar sesión</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    </head>
</head>
<body>
 
<h1 class="text-center mb-4">Mi Usuario</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
            <div class="col-4 card border border-2 border-primary p-5 rounded-3 me-5">
            <p class="fw-bold">Modificar mis datos</p>
            <form id="form_datos_usuario" asp-action="Edit">
                <input type="hidden" asp-for="ID" />
                <div class="row form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" value=@Model.Nombre />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" value=@Model.Apellido />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <label asp-for="DNI" class="control-label"></label>
                    <input asp-for="DNI" value=@Model.DNI disabled="disabled"/>
                    <span asp-validation-for="DNI" class="text-danger"></span>
                </div>
                <div class="row form-group">    
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" value=@Model.Mail disabled="disabled"/>
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" type="date" value=@Model.FechaNacimiento.ToString("yyyy-MM-dd")/>
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" value=@Model.Password />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                    <div class="row form-group mt-3">
                        <div class="col-8 p-0">
                            <button type="submit" asp-controller="MiUsuario" asp-action="Edit" form="form_datos_usuario" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Modificar datos
                            </button>
                        </div>
                    </div>
                </form>
        </div>

        <div class="col-4 card border border-2 border-primary p-5 rounded-3 ms-5">
            <div class="row mt-4 border border-3 rounded-3 p-2">
                    <div class="col-12">
                        <p class="fw-bold">Ver mis funciones</p>
                        <a asp-action="MisFunciones" class="btn btn-primary">
                            <i class="fas fa-film"></i> Mis Funciones
                        </a>
                    </div>
            </div>
            <form id="form_cargar_credito" asp-action="CargarCredito">
                <div class="row mt-5 border border-3 rounded-3 p-2">
                    <input type="hidden" asp-for="ID" name="ID" />                        
                    <div class="col">
                        <div class="row">
                                <div class="col-8"> 
                            <label for="mostrarCredito" class="control-label">Crédito</label>
                                <input name="mostrarCredito" value=@Model.Credito disabled="disabled"/>
                                </div>

                                <div classs="col">
                                    <label for="monto" class="control-label">Crédito a cargar</label>
                                    <input type="number" name="monto" />
                                    <span asp-validation-for="Credito" class="text-danger"></span>
                                </div>
                        </div>  
                        
                    </div>
                        <div class="col-12 mt-2">
                            <button form="form_cargar_credito" type="submit" class="btn btn-primary">
                                <i class="fas fa-money-bill"></i> Cargar crédito
                            </button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
