@model IEnumerable<Cines_Flagg.Models.Usuario>
@{
    ViewData["Title"] = "Index";
}
    
<h1>Mi Usuario</h1>

<div class="container">
    <div class="row">
        <form>
            <!-- <div class="col-4">
                <div class="row form-group"><input asp-for="Nombre" value=Html.DisplayFor(model => model.Nombre)/></div>
                <div class="row form-group"><input asp-for="Apellido" value=Html.DisplayFor(model => model.Apellido)/></div>
                <div class="row form-group"><input asp-for="DNI" value=Html.DisplayFor(model => model.DNI)/></div>
                <div class="row form-group"><input asp-for="Mail" value=Html.DisplayFor(model => model.Mail)/></div>
                <div class="row form-group"><input asp-for="Credito" value=Html.DisplayFor(model => model.Credito)/></div>
                <div class="row form-group"><input asp-for="FechaNacimiento" value=Html.DisplayFor(model => model.FechaNacimiento)/></div>
                <div class="row form-group">
                    <input type="submit" value="Edit" class="btn btn-primary"/>
                </div>
            </div> -->
        </form>
    </div>
    
    <div class="row">

    </div>
    
    <div></div>


</div>
